/* *********************************** */
/* ********** MEDIA QUERIES ********** */
/* *********************************** */

/*
- SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/**********************************/
/* BELOW 1345px ( SMALLER DESKTOPS ) */
/**********************************/

@media (max-width: 1345px) {
  .container-profile {
    max-width: 1250px;
    /* Temp */
    margin-left: 20px;
    margin-right: 220px;
  }

  .kural-topic {
    margin-right: 5%;
  }
}

/**********************************/
/* BELOW 1200px ( LANDSCAPE TABLETS ) */
/**********************************/

@media (max-width: 1200px) {
  /* NAVBAR */

  .container-profile {
    max-width: 1100px;
    /* Temp */
    margin-left: 30px;
    margin-right: 210px;
  }

  .profile-banner {
    height: 150px;
  }

  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  #open-menu-btn {
    display: inline-block;
    border: none;
    background: transparent;
    height: 24px;
    width: 24px;
    font-size: 24px;
  }

  #close-menu-btn {
    /* display: inline-block; */
    border: none;
    background: transparent;
    height: 24px;
    width: 24px;
    font-size: 24px;
  }

  .batch {
    padding: 0;
  }

  .batch-year {
    padding: 0;
    left: 0;
    top: 0;
  }

  .batch-year ul {
    flex-direction: row;
    width: 100%;
    gap: 0;
  }

  .batch-year ul li a {
    /* width: 95px; */
    width: 145px;
  }

  .batch-year {
    border: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    right: 0%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animatenavitems 400ms linear forwards;
    /* transform-origin: top right; */
    opacity: 0;
  }

  .nav__menu li a {
    background-color: #f6fba2;
    background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav__menu li a:hover {
    background: linear-gradient(to top left, #000000, #55efc4);

    color: var(--color-white);
  }

  /* KURAL MEANING */

  .format {
    grid-template-columns: 1fr 2fr;
  }

  .couplets-sets {
    height: 340px;
  }

  .kural-topic {
    margin-right: 12%;
  }

  .kural-sets {
    width: 600px;
  }

  .kural-def {
    height: 300px;
  }

  .kural-result-box {
    width: 640px;
    height: 320px;
    transform: translate(-113%, 28%);
  }

  .kural-eng {
    font-size: 14px;
  }

  .tamil-small {
    font-size: 16px;
  }

  /* OVERLAY */

  .kural-meaning {
    width: 1060px;
    max-width: 1100px;
    transform: translate(-42%, -29%);
    padding: 0;
  }

  .format {
    padding-left: 12px;
  }

  /* FOOTER */

  .container-footer {
    max-width: 1100px;
  }

  .grid-footer {
    column-gap: 24px;
  }

  .social-links {
    margin-bottom: 42px;
  }
}

/**********************************/
/* BELOW 1024px ( DESKTOP MODE ) */
/**********************************/

@media (max-width: 1024px) {
  .heading-secondary {
    font-size: 16px;
  }

  .skills,
  .profile-skills,
  .profile-content {
    font-size: 13px;
  }

  .profile-bio {
    font-size: 14px;
  }

  .profile-link a:link,
  .profile-link a:active {
    font-size: 9px;
  }

  /* KURAL*/

  #couplets-search-bar::placeholder {
    font-size: 12px;
  }

  .couplets-set-format {
    width: 350px;
  }

  .couplets-sets {
    height: 365px;
  }

  .kural-topic {
    margin-right: 15%;
  }

  .kural-def {
    height: 285px;
  }

  .kural-sets {
    width: 500px;
  }

  .kural-result-box {
    width: 530px;
    transform: translate(-133%, 28%);
  }

  .kural-navbar {
    width: 75vw;
  }

  .kural-def {
    margin: 0;
  }

  .kural-title {
    font-size: 15px;
  }

  .tamil-large {
    font-size: 18px;
  }

  .tamil-small {
    font-size: 14px;
  }

  .kural-eng {
    font-size: 12px;
  }

  .kural-no,
  .couplets-no {
    font-size: 12px;
  }

  .couplets-search-type-show {
    transform: translate(355%, 35%);
  }

  .couplets {
    font-size: 13px;
  }

  /* OVERLAY */

  .kural-meaning {
    width: 950px;
    transform: translate(-41%, -30%);
    padding: 0;
  }

  .meaning {
    padding: 0 32px 0 24px;
  }

  .kural-tamil,
  .kural-english {
    padding: 12px 0px;
  }

  .meaning-eng,
  .quote-eng {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  .kural-cancel {
    right: 8%;
    top: 10%;
  }
}

/**********************************/
/* BELOW 900px ( TABLETS ) */
/**********************************/

@media (max-width: 900px) {
  .container-profile {
    max-width: 800px;
    margin: 0 auto;
  }

  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-items-icon {
    font-size: 32px;
    display: inline-block;
  }

  .list-items {
    display: none;
  }

  .grid {
    row-gap: 48px;
    column-gap: 48px;
    justify-content: center;
  }

  /* KURAL*/

  .format {
    padding: 0px;
    grid-template-columns: 1fr;
  }

  .search-type-title {
    font-size: 14px;
  }

  .couplets-navbar {
    margin-bottom: 20px;
  }

  .couplets-section {
    align-items: center;
    grid-row: 2;
    width: 100vw;
  }

  .couplets-sets {
    height: 250px;
  }

  .couplets-set-format-heading {
    padding: 10px;
  }

  .couplets-set-format {
    width: 400px;
  }

  .kural-container {
    margin-bottom: 32px;
  }

  .kural-topic {
    margin-right: 0;
  }

  .kural-result-box {
    width: 650px;
    transform: translate(-50%, 0%);
    height: 385px;
  }

  .kural-navbar {
    padding: 24px 0;
    width: 100vw;
    gap: 0;
  }

  .kural-search {
    flex-direction: column;
    width: 100vw;
    gap: 32px;
  }

  .inner-kural-search {
    margin: 0 auto;
  }

  .kural-container-inner {
    width: 100vw;
  }

  .kural-def {
    margin: 0 auto;
    height: 285px;
  }

  .kural-sets {
    width: 600px;
  }

  .kural-tamil,
  .kural-english {
    padding: 32px;
  }

  .quote-eng div p:first-child,
  .quote-tam div .kural-line-1,
  .kural-pack div .kural-line-1 {
    margin-bottom: 3px;
  }

  .couplets-search-type-show {
    transform: translate(45%, -570%);
  }

  hr {
    display: block;
  }

  /* OVERLAYS */

  .kural-meaning {
    width: 700px;
    transform: translate(7%, -40%);
  }

  .meaning {
    padding: 0 24px 0 0;
  }

  .quote-tam,
  .quote-eng {
    width: 550px;
  }

  /* FOOTER */
}

/**********************************/
/* BELOW 700px ( SMALLER TABLETS ) */
/**********************************/

@media (max-width: 700px) {
  .container-profile {
    max-width: 600px;
    margin: 0 auto;
  }

  .heading-topic {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .logo-title {
    margin-right: 5rem;
  }

  .list-items-icon {
    font-size: 28px;
  }

  .grid--3--cols {
    grid-template-columns: 350px;
  }

  /* KURAL */

  .kural-sets {
    width: 550px;
  }

  .kural-topic {
    margin-right: 0;
  }

  .kural-result-box {
    width: 570px;
    transform: translate(-50%, 0%);
  }

  .kural-def {
    height: 280px;
  }

  .couplets-search-type-show {
    transform: translate(42%, -550%);
  }

  .kural-container {
    margin-bottom: 20px;
  }

  /* OVERLAYS */

  .kural-meaning {
    width: 650px;
    margin: 0 auto;
    transform: translate(2%, -40%);
  }

  .kural-tamil,
  .kural-english {
    padding: 16px 0 0 0;
  }

  .kural-cancel {
    right: 11%;
    top: 7%;
  }

  .kural-eng-box,
  .kural-tam-box {
    padding: 8px;
  }

  /* FOOTER */

  .footer h3 {
    font-size: 14px;
  }

  .student-img {
    height: 32px;
    width: 32px;
  }

  .student-name {
    font-size: 12px;
  }
}

/**********************************/
/* BELOW 615px ( SMALLER TABLETS ) */
/**********************************/

@media (max-width: 615px) {
  .kural-meaning {
    width: 580px;
    transform: translate(1%, -40%);
  }

  .quote-tam,
  .quote-eng {
    width: 500px;
  }

  .kural-container {
    margin-bottom: 20px;
  }
}

/**********************************/
/* BELOW 545px ( PHONES ) */
/**********************************/

@media (max-width: 545px) {
  #internship,
  #projects,
  #web-dev,
  #com-funda,
  #others {
    padding: 150px 0 0 0;
  }

  .logo {
    gap: 20px;
  }

  .logo-title {
    font-size: 14px;
  }

  .list-items-icon {
    font-size: 28px;
  }

  .container-profile {
    max-width: 450px;
  }

  .heading-secondary {
    font-size: 15px;
  }

  .skills,
  .profile-skills,
  .profile-bio,
  .profile-content {
    font-size: 12px;
  }

  .profile-link a:link,
  .profile-link a:active {
    font-size: 8px;
  }

  .nav-menu,
  .rules-menu {
    font-size: 12px;
  }

  /* KURAL */

  .couplets-section {
    align-items: center;
    grid-row: 2;
    width: 100vw;
  }

  .couplets-set-format {
    width: 360px;
  }

  .couplets-sets {
    height: 250px;
  }

  .kural-result-box {
    width: 470px;
    transform: translate(-50%, 0%);
    height: 300px;
  }

  .kural-navbar {
    padding: 12px 0;
    gap: 0px;
    margin-bottom: 12px;
  }

  .kural-search {
    gap: 24px;
  }

  .kural-container-inner {
    width: 100vw;
    margin-bottom: 16px;
  }

  /* .kural-container {
    margin-bottom: 8px;
  } */

  .kural-sets {
    width: 455px;
    padding: 12px 16px;
    gap: 16px;
  }

  .kural-def {
    padding: 2px;
    height: 245px;
  }

  .kural-title {
    font-size: 16px;
  }

  .tamil-large {
    font-size: 18px;
  }

  .tamil-small {
    font-size: 12px;
  }

  .kural-eng {
    font-size: 11px;
  }

  .kural-no,
  .couplets-no {
    font-size: 10px;
  }

  .couplets-search-type-show {
    transform: translate(42%, -420%);
  }

  .couplets {
    font-size: 11px;
  }

  /* OVERLAYS */

  .kural-meaning {
    width: 525px;
    transform: translate(-6%, -30%);
    gap: 0;
  }

  .meaning {
    padding: 0 24px 0 32px;
  }

  .kural-tamil,
  .kural-english {
    padding: 0;
  }

  .kural-cancel {
    width: 24px;
    height: 24px;
    top: 1%;
  }

  .quote-tam,
  .quote-eng {
    width: 380px;
  }

  .meaning-eng,
  .quote-eng {
    font-size: 11px;
  }

  .tamil-large {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .kural-heading {
    font-size: 12px;
    margin-bottom: 18px;
  }

  /* FOOTER */

  .footer h3 {
    font-size: 14px;
  }

  .student {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    padding-right: 0;
    margin-right: 0;
    border: none;
  }

  .student-link {
    padding-right: 0;
    margin-right: 0;
    border: none;
  }

  .student-img {
    height: 32px;
    width: 32px;
  }

  .student-name {
    font-size: 12px;
  }
}

/**********************************/
/* BELOW 420px ( LARGER PHONES ) */
/**********************************/

@media (max-width: 420px) {
  .container-profile {
    max-width: 400px;
  }

  .logo-title {
    margin-right: 14px;
  }

  .list-items-icon {
    font-size: 24px;
  }

  .grid--3--cols {
    grid-template-columns: 325px;
  }

  /* KURAL */

  .couplets-set-format {
    width: 300px;
  }

  .kural-sets {
    width: 350px;
    padding: 12px 16px;
    gap: 16px;
  }

  .kural-result-box {
    width: 390px;
    transform: translate(-50%, 0%);
    height: 270px;
  }

  .kural-def {
    padding: 5px;
    height: 220px;
  }

  .tamil-small {
    font-size: 10px;
  }

  .kural-eng {
    font-size: 9px;
  }

  .kural-no,
  .couplets-no {
    font-size: 8px;
  }

  .couplets-search-type-show {
    transform: translate(42%, -393%);
  }

  .couplets {
    font-size: 10px;
  }

  /* OVERLAYS */

  .kural-meaning {
    width: 440px;
    transform: translate(-6%, -30%);
    height: 400px;
  }

  .meaning-eng,
  .quote-eng {
    font-size: 9px;
  }

  /* FOOTER */
}

/**********************************/
/* BELOW 375px ( SMALLER PHONES ) */
/**********************************/

@media (max-width: 375px) {
  .container-profile {
    max-width: 350px;
  }

  .logo {
    gap: 10px;
  }

  .grid--3--cols {
    grid-template-columns: 300px;
  }

  /* OVERLAYS */

  .kural-meaning {
    width: 425px;
    transform: translate(-8%, -30%);
    height: 400px;
  }

  .quote-tam,
  .quote-eng {
    width: 340px;
  }

  /* FOOTER */
}

/**********************************/
/* BELOW 320px ( SMALLER PHONES ) */
/**********************************/

@media (max-width: 320px) {
  /* FOOTER */
}
