/*

- SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/* Tamil Fonts */

@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #000;
  overflow-x: hidden;
  background: linear-gradient(60deg, whitesmoke, #d2f8f6);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: #000;
}

/* =============css variables=========== */
:root {
  --color-primary: #6c63ff;
  --color-sucess: #00bf8c;
  --color-danger: #f75842;
  --color-warning: #f7c949;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  /*===================== doubtðŸ˜“ðŸ’¡============================= */
  --container-width-1g: 80%;
  --container-width-md: 90%;
  --container-width-5m: 94%;
  --transition: all 400ms ease;
}

.main-nav {
  background: transparent;
  width: 100vw;
  height: 70px;
  /* 5rem=80px */
  position: fixed;
  top: 0;
  z-index: 11;
}

.container {
  width: 80%;
  margin: auto;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo img {
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: 0 auto 0;
}

nav button {
  display: none;
}

#open-menu-btn,
#close-menu-btn {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  /* 64px = 4rem*/
  position: relative;
}

/**********************************/
/************** BATCHS ************/
/**********************************/

.batch {
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  transition: all 0.3s;
}

.batch-year {
  display: none;
  position: absolute;
  top: 90%;
  left: -30%;
  width: 160px;
  background-color: #fff;
  box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  padding: 12px;
  z-index: 98;
  border: 1px solid rgba(0, 0, 0, 0.185);
  background-color: #fafafa;
}

/* Dropdown Hover Effect */
.batch-child {
  display: block;
  text-align: center;
  width: 150px;
  z-index: 99;
  background: linear-gradient(to top left, rgb(24, 24, 24), #55efc4);
}
/* END */

.batch-year ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.batch:hover .batch-year ul li a {
  color: black;
}

.batch:hover .batch-year ul li a:hover {
  color: white;
}

/* ************** */
/* END OF BATCHES */
/* ************** */

.nav__menu a {
  font-size: 0.9rem;
  /* 0.9 rem=14.4px */
  transition: var(--transition);
}

.nav__menu a:hover {
  /* color: var(--color-bg2); */
  /* color: #4bc938; */
  color: white;
}

.logo-title {
  margin-right: 10rem;
  font-size: 1rem;
}

/* =============change navbar style on scroll===================== */
.window_scroll {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: #f6fba2;
  background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
}

/*

- SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/**********************************/
/*********** ATHIKARAM ************/
/**********************************/

.kural {
  width: 1300px;
  margin: 60px auto 0 auto;
}
.format {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 24px;
}

.couplets-navbar {
  margin-bottom: 32px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: white;
  padding: 5px 12px;
  border-radius: 30px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.075);
}

#couplets-search-icon[name="search-alt-2"],
#kural-search-icon[name="search-alt-2"] {
  height: 22px;
  width: 22px;
}

#couplets-search-bar {
  width: 250px;
  padding: 5px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

#couplets-search-bar:active {
  outline-color: #424890;
}

.couplets-sets {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 10px;
  height: 370px;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}

.couplets-set-format {
  display: flex;
  gap: 10px;
  padding: 12px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 9px;
}

/* .couplets-click{
  display: inline-block;
} */

.couplets {
  text-align: justify;
  font-size: 14px;
}

.heading {
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  background-color: #000;
}

/**********************************/
/******** KURAL_CONTAINER *********/
/**********************************/

.kural-navbar {
  display: flex;
  justify-content: space-around;
}

.kural-title {
  font-size: 17px;
  margin-left: 100px;
  text-transform: uppercase;
  font-weight: 500;
}

.kural-search {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  background: white;
  padding: 5px 12px;
  border-radius: 30px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.07);
  margin-left: 120px;
}

.kural-search-bar {
  width: 350px;
  padding: 5px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.kural-container-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kural-def {
  height: 370px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  gap: 10px;
}

.kural-sets {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: inset 0 0 12px black;

  /* When active the div */
  /* background-color: black;
  color: #20ded3; */
}

.kural-pack div {
  margin-bottom: 5px;
}

.kural-eng {
  font-size: 14px;
}

/**********************************/
/******** KURAL_MEANING *********/
/**********************************/

.kural-meaning {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kural-heading {
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 200px 10px;
  background-color: #b197fc;
  padding: 3px;
  margin: 0 180px 18px 180px;
  font-weight: 400;
}

.kural-tamil,
.kural-english {
  text-align: center;
}

.quote-tam,
.quote-eng {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 0 auto 10px;
  padding: 7px;
  border-radius: 14px 10px 14px 10px;
  -webkit-border-radius: 14px 10px 14px 10px;
  -moz-border-radius: 14px 10px 14px 10px;
  background: #20ded3;
  border: 3px dashed #585477;
  color: black;
  text-shadow: 0 0 1px black;
}

.meaning-eng,
.quote-eng {
  font-size: 15px;
}
/* *********************** */
/* ******** COMMON ******* */
/* *********************** */

.nav-menu:hover,
.rules-menu:hover {
  color: white;
}

/******** CENTER_ALIGN ********/
.center {
  text-align: center;
}
/******* End Of CENTER_ALIGN *******/

/******** MARGIN_CENTER ********/

.mar-center {
  margin: 0 auto;
}
/******* End Of MARGIN_CENTER *******/

/******** TAMIL_FONT ********/

.tamil-small {
  font-family: "Mukta Malar", serif;
  font-size: 16px;
  line-height: 1.2;
}

.tamil-medium {
  font-family: "Mukta Malar", serif;
  font-size: 17px;
  line-height: 1.2;
}

.tamil-large {
  font-family: "Mukta Malar", serif;
  font-size: 18px;
}

/******* End Of Common *******/

hr {
  margin-bottom: 24px;
  border: 1px solid rgb(20, 20, 20);
}

.credits {
  text-align: center;
  font-size: 16px;
}

/* ====================animation================================== */
@keyframes animatenavitems {
  0% {
    transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
  }
  100% {
    transform: rotateZ(0) rotateX(0) scale(1);
    opacity: 1;
  }
}

/* ====================nth child chnages================== */
.nav__menu li:nth-child(2) {
  animation-delay: 200ms;
}
.nav__menu li:nth-child(3) {
  animation-delay: 400ms;
}
.nav__menu li:nth-child(4) {
  animation-delay: 600ms;
}
.nav__menu li:nth-child(5) {
  animation-delay: 800ms;
}
